.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.header {
  color:white;
  font-size:30px;
  text-align: center;
  margin-right:150px;
}

.container {
  margin:20px;
  float:left;
  height:500px;
  width:45%;
  border:solid;
}

.container2 {
  margin:20px;
  float:left;
  height:500px;
  width:48%;
  border:solid;
}

.jumbotron {
  color:white
}

.list-group {
  color:black;
  height:30%;
  border:black;
  border:solid


}

.list-group-item {
  float:left;
  margin:10px;
  width:50%
}